<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="name"
		label="تنظیمات صفحه"
		description="مدیریت محترم : لطفا قبل از فعال کردن منوی فرم پرداخت و تنظیمات بیشتر موارد زیر را بر اساس نیاز پر کرده و روی دکمه ذخیره کلیک کنید. با تشکر تیم توسعه و برنامه نویسی ترانگل"
	>

		<field
			name="backtime"
			type="text"
			label="زمان برگشت از بانک:"
			description="این زمان به دقیقه می باشد"
			default="11"
			required="true"
		/>
		
		 <field 
		 	name="pdfshow" 
		 	type="radio" 
		 	label="نمایش خروجی pdf" 
		 	class="btn-group btn-group-yesno" 
		 	description="" 
		 	size="30" 
		 	default="1" 
		 	required="true">
					<option value="0">خیر</option>
					<option value="1">بله</option>
		 </field>

		  <field 
		 	name="recapstatus" 
		 	type="radio" 
		 	label="وضعیت کد کپچای گوگل" 
		 	class="btn-group btn-group-yesno" 
		 	description="" 
		 	size="30" 
		 	default="0" 
		 	required="true">
					<option value="0">غیر فعال</option>
					<option value="1">فعال</option>
		 </field>
		 <field
			name="pubrecapcod"
			type="text"
			label="کلید عمومی"
			default=""
			required="true"
		/>

		<field
			name="prerecapcod"
			type="text"
			label="کلید خصوصی"
			default=""
			required="true"
		/>
	</fieldset>
	<fieldset
		name="melat"
		label="بانک ملت"
		description="مدیریت محترم : در صورتی که می خواهید درگاه بانکی ملت در وب سایت شما فعال گردد لطفا اطلاعات زیر را پر کنید در غیر این صورت خالی قرار بدهید."
	>


	 	<field 
		 	name="melatstatus" 
		 	type="radio" 
		 	label="فعال بودن درگاه" 
		 	class="btn-group btn-group-yesno" 
		 	description="" 
		 	size="30" 
		 	default="0" 
		 	required="true">
					<option value="0">خیر</option>
					<option value="1">بله</option>
		 </field>


		<field
			name="melatuser"
			type="text"
			label="نام کاربری درگاه"
			default=""
			required=""
		/>

		<field
			name="melatpass"
			type="text"
			label="پسورد درگاه"
			default=""
			required=""
		/>

		<field
			name="melatterminalId"
			type="text"
			label="شناسه ترمینال"
			default=""
			required=""
		/>

	</fieldset>



	<fieldset
		name="saman"
		label="بانک سامان"
		description="مدیریت محترم : در صورتی که می خواهید درگاه بانکی سامان در وب سایت شما فعال گردد لطفا اطلاعات زیر را پر کنید در غیر این صورت خالی قرار بدهید."
	>
	<field 
		 	name="samanstatus" 
		 	type="radio" 
		 	label="فعال بودن درگاه" 
		 	class="btn-group btn-group-yesno" 
		 	description="" 
		 	size="30" 
		 	default="0" 
		 	required="true">
					<option value="0">خیر</option>
					<option value="1">بله</option>
	</field>

	<field
			name="samanmerchantId"
			type="text"
			label="کد مرچند"
			default=""
			required=""
		/>



	</fieldset>

	<fieldset
		name="zarinpal"
		label="درگاه زرین پال"
		description="مدیریت محترم : در صورتی که می خواهید درگاه واسط زرین پال در وب سایت شما فعال گردد لطفا اطلاعات زیر را پر کنید در غیر این صورت خالی قرار بدهید."
	>

		<field 
		 	name="zarinpalstatus" 
		 	type="radio" 
		 	label="فعال بودن درگاه" 
		 	class="btn-group btn-group-yesno" 
		 	description="" 
		 	size="30" 
		 	default="0" 
		 	required="true">
					<option value="0">خیر</option>
					<option value="1">بله</option>
	</field>

	<field
			name="zarinpalmerchantid"
			type="text"
			label="شناسه مرچند"
			default=""
			required=""
		/>


	</fieldset>

	<fieldset
	 	name="permissions"
	  	label="JCONFIG_PERMISSIONS_LABEL"
	   	description="JCONFIG_PERMISSIONS_DESC"
	   >
		<field 
			name="rules"
		 	type="rules"
		 	label="JCONFIG_PERMISSIONS_LABEL"
		 	class="inputbox" 
		 	validate="rules" 
		 	filter="rules" 
		 	component="com_tinypayment" 
		 	section="component" 
		 	/>
	</fieldset>
</config>
